* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background: #000;
  color: #fff;
}


a {
  text-decoration: none;
  color: inherit;
}

input,
button {
  outline: none;
}


button {
  cursor: pointer;
}
